body {
    font-family: 'Inter', sans-serif;
}

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.status-running {
    background-color: #34D399; /* Green-400 */
}

.status-stopped {
    background-color: #F87171; /* Red-400 */
}

.status-idle {
    background-color: #FBBF24; /* Amber-400 */
}
